.wrapper {
  display: flex;
  flex-wrap: wrap;

  gap: 10px 30px;
  padding-inline: 68px 30px;
}

.cores {
  display: flex;
  column-gap: 5px;
}

.sortByPriceButton {
  margin-left: auto;
  font-size: 12px;
}
