.wrapper {
  --accent-color: var(--color-green);

  display: flex !important;
  align-items: center;
  column-gap: 5px;

  font-weight: 500 !important;
  color: var(--color-gray) !important;
}

.wrapper svg {
  flex-shrink: 0;

  width: 10px;
  height: 10px;

  color: var(--accent-color);
}
