.wrapper {
  --accent-color: var(--color-blue);

  display: flex;
  align-items: stretch;

  width: fit-content;
  height: 100%;
}

.button {
  display: flex !important;
  align-items: center;
  justify-content: center;

  width: fit-content;
  min-width: 32px;

  color: var(--accent-color) !important;

  border-left: 1px solid var(--color-white) !important;
  border-right: 1px solid var(--color-white) !important;
}

.button svg {
  width: 10px;
  height: 10px;
}

.value {
  padding-inline: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 32px;
  width: fit-content;

  font-size: 14px;
  font-weight: 700;

  color: var(--accent-color);
}
