.wrapper {
  --accent-color: var(--color-blue);
  --size: 18px;

  position: relative;

  width: var(--size);
  height: var(--size);

  border-radius: 100%;
  border: 1px solid var(--accent-color);

  cursor: pointer;
}

.wrapper::after {
  opacity: 0;
  content: '';

  position: absolute;
  top: 50%;
  right: 50%;

  width: calc(var(--size) / 2);
  height: calc(var(--size) / 2);

  border-radius: 100%;
  background-color: var(--accent-color);

  translate: 50% -50%;
}

.wrapper:has(.control:checked)::after {
  opacity: 1;
}

.control {
  display: none;
}
