.wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.startTitle,
.endTitle {
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-gray);
}

.content {
  flex-grow: 1;
}
